@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Familjen+Grotesk:wght@400;600;700&family=Hanken+Grotesk:ital,wght@1,800&family=Manrope:wght@200&family=Nanum+Myeongjo&family=Playfair+Display&family=Poppins:wght@300;400;600&family=Roboto:wght@400;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --darkgrey: #333;
    --lightgrey: #c7c7c7;
    --verylightgrey: #f7f7f7;;
    --black: #000;
    --red: #D31E1E;
    --lightbrown: #e28743;
}

body{
    font-family: 'Poppins', sans-serif;;
}

/* Header/Navbar */
.main-header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    padding: 15px;
    background-color: var(--black);
}

.logo{
    display: flex;
    align-items: center;
}

.logo a{
    font-size: 28px;
    text-decoration: none;
    color:var(--white);
    transition: 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 20px;
}

.logo a:hover{
    color: var(--lightbrown)
}

.desktop-main-menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 10px;
}

.desktop-main-menu ul li a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.2rem;
    color: var(--white);
    position: relative;
    padding-bottom: 2px;
    transition: 1.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.desktop-main-menu ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--lightbrown);
    transform: scaleX(0);
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transform-origin:top;
}

.desktop-main-menu ul li a:hover{
    color: var(--lightbrown);
}

.desktop-main-menu ul li a:hover::after{
    transform: scaleX(1);
    transition-duration: 0.8s;
}

/* images */
.main-section.sec-a {
    background-image: url('/assets/images/homeImg1.jpg');
}
.main-section.sec-b {
    background-image: url('/assets/images/homeImg2.jpg');
}
.main-section.sec-c {
    background-image: url('/assets/images/homeImg3.jpg');
}

/* Main */
.main-section{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-section img {
    width: 100%;
    height: 100%;
}

/* Main inner */
.main-section-inner.sec-a{
    position: absolute;
    width: 400px;
    bottom: 170px;
    left: 150px;
}
.main-section-inner.sec-b{
    position: absolute;
    width: 400px;
    bottom: 100px;
    right: 150px;
}
.main-section-inner.sec-c{
    position: absolute;
    width: 400px;
    bottom: 70px;
    left: 150px;
}

.main-section-inner h1{
    color: var(--lightbrown);
    font-size: 3.7rem;
    line-height: 75px;
    margin-bottom: 10px;
}

.main-section-inner p{
    color: var(--white);
    font-size: 1.3rem;
    margin-bottom: 20px;
    line-height: 35px;
}

.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 10px 40px;
    margin-top: 10px;
    border: 2px solid var(--lightbrown);
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
}

.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    color: #000;
    z-index: -1;
    transform: translateY(100%);
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover span {
    color: var(--lightbrown);
}

.btn:hover .hover {
    transform: translateY(0);
}
